#we have access to the article intance with @article

<form method="POST" action="/articles/<%= @article.id %>">
    <input id="hidden" type="hidden" name="_method" value="PATCH">

    Update title: <input id="title" type="text" name="article[title]" value="<%= @article.title %>">
    Update content: <input id="content" type="text" name="article[content]" value="<%= @article.content %>">

    <input type="submit" value="Submit">
</form>